name: Deploy and Run
env:
  REPO_NAME: ${{ github.event.repository.name }}

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      IMAGE_TAG: ${{ steps.get_image_tag.outputs.TAG }}
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: 'Determine Image Tag'
      id: get_image_tag
      run: |
        if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
          TAG="${{ github.ref_name }}"
        else
          # --- ESTA ES LA LÃNEA CORREGIDA ---
          TAG="${GITHUB_SHA::7}"
        fi
        echo "Image tag to be used: $TAG"
        echo "TAG=$TAG" >> "$GITHUB_OUTPUT"

    - name: 'Login via Docker'
      uses: azure/docker-login@v2
      with:
        login-server: ${{ env.REPO_NAME }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: 'Build and Push Docker Image'
      run: |
        docker build . -t ${{ env.REPO_NAME }}/${{ github.event.repository.name }}:${{ steps.get_image_tag.outputs.TAG }}
        docker push ${{ env.REPO_NAME }}/${{ github.event.repository.name }}:${{ steps.get_image_tag.outputs.TAG }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: 'Login via Azure CLI'
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Deploy Container Instance'
      uses: azure/aci-deploy@v1
      with:
        location: eastus
        name: azureapp
        resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
        image: ${{ env.REPO_NAME }}/${{ github.event.repository.name }}:${{ needs.build.outputs.IMAGE_TAG }}
        dns-name-label: azureapp-${{ github.run_id }}-${{ github.run_attempt }}
        registry-username: ${{ secrets.REGISTRY_USERNAME }}
        registry-password: ${{ secrets.REGISTRY_PASSWORD }}
        ports: 8080
        cpu: 0.25
        memory: 0.5

    - name: 'Logout'
      run: |
        az logout
        az cache purge
        az account clear